<p>I'm a software developer from Tucuman, Argentina.</p>

<p>I work with PHP, Javascript and MySQL</p>

<p>Contact me at <a href="mailto: colo92@gmail.com">colo92@gmail.com</a></p>


<div class="col-lg-6">
	<h2>CV</h2>

	<!--
	<p><span class="job">Software Developer at Netpry:</span> PHP (Laravel), MySQL, Javascript, HTML5, CSS3, Bootstrap</p>
	<p><span class="job">Frontend & Web UI Developer at Globant:</span> AngularJS, Javascript, CSS3, sass, HTML5, Gulp, npm, Karma, Jasmine, Scrum methodology</p>
	<p><span class="job">Fullstack Developer at Viveo Group:</span> PHP (Slim), Java, MySQL, RESTful, APIs (Paypal, MercadoPago), Javascript, AngularJS, Bootstrap, CSS3, HTML5, JQuery, MVC, Git, AWS, Ubuntu</p>
	<h3>Extra Courses</h3>
	<p>Basic Java programming for Desktop apps at Universidad del Norte Santo Tomas de Aquino.</p>
	<p>Visual FoxPro & MS SQL at Universidad del Norte Santo Tomas de Aquino.</p>
	<p>Basic Structured Programming: C language at Universidad del Norte Santo Tomas de Aquino.</p>
	<p>COBOL Training Course: COBOL & JCL at Everis Co.</p>
	<p>English clases at Globant.</p>
	-->
	<p>
		<a href="">Software Developer</a> at <a target="_blank" class="company-link" href="http://www.netpry.com">Netpry</a>
	</p>
	<p>
		<a href="">Frontend & Web UI Developer</a> at <a target="_blank" class="company-link" href="https://www.globant.com/">Globant</a>
	</p>
	<p>
		<a href="">Fullstack Developer</a> at <a target="_blank" class="company-link" href="https://www.viveogroup.com">Viveo Group</a>
	</p>

</div>


<div class="col-lg-6">

	<h2>Projects</h2>
	
	<p ng-repeat="project in projects">
		<a href="#/projects/{{projects.indexOf(project)}}">{{ project.title }}</a>
	</p>

</div>


